<div class="container-fluid">
    <div class="row background">
        <div class="col-12">
            <img class="head" src="assets\images\head.png">
        </div>
        <div class="col-12">
            <img class="head2" src="https://img1a.flixcart.com/www/promos/new/20141125-225805-handbag.png">
        </div>
        <div class="col-12">
            <img class="head3" src="https://img1a.flixcart.com/www/promos/new/20161018-105350-20150824-132608-info-graphic2-1.png">
        </div>
        <div class="col-12">
            <img class="head4" src="https://img1a.flixcart.com/www/promos/new/20161017-190224-20150824-132608-the-journey3.png">
        </div>
        <div class="col-12">
            <img class="head5" src="assets\images\last.png">
        </div>
    </div>
</div>
<button routerLink='/main'>Home</button>